<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions remain the same -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <!-- ▼▼▼ ADD THIS <queries> BLOCK ▼▼▼ -->
    <!-- This allows the app to see if Google Maps is installed on Android 11+ -->
    <queries>
        <package android:name="com.google.android.apps.maps" />
    </queries>
    <!-- END OF QUERIES BLOCK -->

    <!-- Features remain the same -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="SafeGuard"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp">

        <!-- REMOVED THE GOOGLE MAPS API KEY META-DATA TAG -->
        <!--
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBulfwxScayRY8K_ZeugloM1g-5h-2gk_s" />
        -->

        <!-- Your Activities... -->
        <activity
            android:name=".NearbyServicesActivity"
            android:exported="false" />
        <activity
            android:name=".SelfDefenceActivity"
            android:exported="false" />
        <activity
            android:name=".EmergencyContactsActivity"
            android:exported="false" />
        <activity
            android:name=".HomePageActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
